@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    width: 100%;
}

:root{
    --mainColor: #AB2F52;
}

a{
    text-decoration: none;
}

h6{
    height: 3px;
    background-color: lightgray;
    width: 60%;
    display: flex;
    justify-content: center;
}

h6 > span{
    width: 30%;
    background-color: #AB2F52;
}

main h2{
    color: #AB2F52;
    font-weight: 200;
    text-transform: uppercase;
}

main > section,
body,
main,
footer,
main > section > article,
figcaption,
form{
    display: flex;
    flex-direction: column;
}

img{
    width: 30%;
}

header{
    background-image: url(/img/pexels-engin-akyurt-1437318.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    overflow: hidden;
}

header > article{
    width: 100%;
    height: 100%;
    padding: 10%;
}
@media(min-width: 200px){

header ul{
display: none;
}

header{
    height: 60vh;
    color: whitesmoke;
}

header > article{
    background-image: linear-gradient(to bottom, rgba(180,0,180,.7), rgba(255,155,0,.5));
}

main{
row-gap: 5vh;
padding-bottom: 5vh;
align-items: center;
}

main > section > section{
    display: flex;
}

.testimonial,
.services aside,
.contact ul{
    display: flex;
    flex-direction: column;
}

.about{
    row-gap: 5vh;
    width: 90%;
}

.about > figure{
    display: flex;
    flex-direction: column-reverse;
    row-gap: 4vh;
}

.about img{
    width: 100%;
    height: 35vh;
}

.about a{
    background-color: orangered;
    color: white;
    padding: 2%;
    width: 50%;
    display: flex;
    transition: .6s;
    align-items: center;
    column-gap: 1vh;
}

.about figcaption{
    row-gap: 3vh;
    line-height: 1.5;
}

.about > article{
    color: darkgray;
    align-items: center;
    text-align: center;
    row-gap: 4vh;
}

.about small{
    color: orangered;
    font-weight: 500;
}

.about 

.services{
    background-color: ghostwhite;
    text-align: center;
    padding-bottom: 5vh;
}

.services > article{
    padding-bottom: 5%;
    padding-top: 2%;
    align-items: center;
    row-gap: 3vh;
}

.services hr{
    width: 40%;
}

.services i{
    font-size: 36px;
    color: orangered;
}

.services p{
    width: 80%;
    line-height: 1.5;
    color: gray;
}

.services h4{
    font-size: 20px;
}

.services aside{
    align-items: center;
    row-gap: 2vh;
    min-height: 35vh;
    justify-content: center;
    width: 70%;
    background-color: white;
}

.services > section{
    flex-direction: column;
    row-gap: 5vh;
    align-items: center;

}

.gallery > article{
    align-items: center;
    padding-bottom: 8%;
    row-gap: 3vh;
    text-align: center;
}

.gallery figure{
    display: flex;
    flex-wrap: wrap;
}

.gallery img{
    width: 100%;
    height: 40vh;
}

.contact > section{
    flex-direction: column;
    width: 90%;
    row-gap: 5vh;
}

form{
    width: 90%;
    align-items: center;
    row-gap: 3vh;
}

form > aside{
    display: flex;
    flex-wrap: wrap;
    row-gap: 3vh;
}

.contact{
    align-items: center;
    row-gap: 5vh;
}

.contact > article{
    align-items: center;
    row-gap: 3vh;
    text-align: center;
}

input{
    padding: 4px;
    width: 96%;
    border: none;
    border-bottom: 2px solid black;
}

textarea{
    padding: 4px;
    width: 96%;
    resize: none;
    height: 96%;
    border: none;
    border-bottom: 2px solid black;
}

[type="submit"] {
    background-color:#AB2F52;
    width: 75%;
    color: whitesmoke;
    border: none;
    border-radius: 25px;
    padding: 2%;
    font-weight: 500;
}

.contact ul{
    row-gap: 3vh;

}

.contact li{
    display: flex;
    flex-direction: row;
    column-gap: 2vh;
    align-items: end;
}

.contact ul aside{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

.contact a{
    color: dimgray;
}

.contact [class^="fa-"]{
    color:#AB2F52;
    font-size: 18px;
}

footer{
    background-color: black;
    padding: 5%;
    text-align: center;
    color: whitesmoke;
}


}

@media(min-width: 200px){

.contact{
    width: 90%;
}

.contact > section{
    flex-direction: row;
    width: 80%;
    column-gap: 6vh;
}

[type="submit"]{
    width: 70%;
    border-radius: 30px;
    padding: 2vh;
    transition: .6s;
    border: 2px solid var(--mainColor);   
}


}